body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Center everything in the app container 
 *    - the h1 header 
 *    - the main random dog picture
 *    - the 10 dog pictures
 */
.RussApp {
  text-align: center;
}

/* Center the Descriptions of the Images */
p.desc {
  padding: 15px;
  text-align: center;
}

/* Make all the images the same size */
img {
  width:  100px;
  height: 100px;
  object-fit: cover;
}

/* Make all images have a border containing the dog photo and its breed name*/
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}